---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout title="Misskey" description="My misskey">
    <div
        class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
    >
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <Markdown class="mt-2">
                <h1>Misskey</h1>
                <p>这是我的 Misskey 账号动态。</p>
                <iframe
                    src="https://voskey.icalo.net/embed/user-timeline/aejnoj8lvn"
                    data-misskey-embed-id="v1_<RANDOM>"
                    loading="lazy"
                    referrerpolicy="strict-origin-when-cross-origin"
                    style="border: none; width: 100%; max-width: 500px; height: 300px; color-scheme: light dark;"
                ></iframe>
                <script defer src="https://voskey.icalo.net/embed.js"></script>
            </Markdown>
        </div>
    </div>
</MainGridLayout>
